    <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->

      
          <section class="wrapper">
          	<div class="sub-head">
                  <span><i class="fa fa-angle-right"></i> Work Experience</span>
                  <button type="button" class="btn btn-theme02"><i class="fa fa-check"></i> Quit</button>                  
                  <button type="button" class="btn btn-theme02"><i class="fa fa-check"></i> Save as Draft</button>
          	      <button type="button" class="btn btn-theme02"><i class="fa fa-check"></i> Save and Continue</button>
                  
            </div>
          	
          	<!-- BASIC FORM ELELEMNTS -->
          	<div class="row mt">
          		<div class="col-lg-12">
                  <div class="form-panel">    
                      	 <!-- <span>Please start with your most recent work experience. If you do not have prior work experience, enter 'not applicable' in any mandatory field. </br> Click on the Add button to add more than one work experience entry.</span>                   -->
                      <form id="education_form" class="form-horizontal style-form" method="get">
                          <div class="experience_section">
                          <h5 class="mb" style="font-weight:bold;">Work Experience 1</h5>
                          <div class="form-group">
                              <div class="col-sm-5">
                              <label class="col-sm-4 col-sm-4 control-label">Employer</label>                              
                                  <input type="text" class="form-control">
                              </div>
                              <div class="col-sm-5">
                              <label class="col-sm-4 col-sm-4 control-label">Job Title</label>                              
                                  <input type="text" class="form-control">
                              </div>
                          </div>
                          
                          
                          <div class="form-group">
                              <div class="col-sm-5">
                                    <label class="col-sm-4 col-sm-4 control-label">Start Date</label>                              
                                    <select class="form-control" style="width: 30%;  margin: 0 2px 0px 2px;float: left;">
                                        <option value="-1">Month</option>
                                        <option title="January" value="0">Jan</option>
                                        <option title="February" value="1">Feb</option>
                                        <option title="March" value="2">Mar</option>
                                        <option title="April" value="3">Apr</option>
                                        <option title="May" value="4">May</option>
                                        <option title="June" value="5">Jun</option>
                                        <option title="July" value="6">Jul</option>
                                        <option selected="selected" title="August" value="7">Aug</option>
                                        <option title="September" value="8">Sep</option>
                                        <option title="October" value="9">Oct</option>
                                        <option title="November" value="10">Nov</option>
                                        <option title="December" value="11">Dec</option>
                                    </select>  
                                    <select class="form-control" style="width: 30%;  margin: 0 2px 0px 2px;float: left;">
                                        <option value="-1">Year</option><option>2017</option>
                                        <option>2016</option><option>2015</option>
                                        <option>2014</option><option>2013</option>
                                        <option>2012</option><option>2011</option>
                                        <option>2010</option><option>2009</option>
                                        <option selected="selected">2008</option>
                                        <option>2007</option><option>2006</option>
                                        <option>2005</option><option>2004</option>
                                        <option>2003</option><option>2002</option>
                                        <option>2001</option><option>2000</option>
                                        <option>1999</option><option>1998</option>
                                        <option>1997</option><option>1996</option>
                                        <option>1995</option><option>1994</option>
                                        <option>1993</option><option>1992</option>
                                        <option>1991</option><option>1990</option>
                                        <option>1989</option><option>1988</option>
                                        <option>1987</option><option>1986</option>
                                        <option>1985</option><option>1984</option>
                                        <option>1983</option><option>1982</option>
                                        <option>1981</option><option>1980</option>
                                        <option>1979</option><option>1978</option>
                                        <option>1977</option><option>1976</option>
                                        <option>1975</option><option>1974</option>
                                        <option>1973</option><option>1972</option>
                                        <option>1971</option><option>1970</option>
                                        <option>1969</option><option>1968</option>
                                        <option>1967</option><option>1966</option>
                                        <option>1965</option><option>1964</option>
                                        <option>1963</option><option>1962</option>
                                        <option>1961</option><option>1960</option>
                                        <option>1959</option><option>1958</option>
                                        <option>1957</option>
                                    </select>  
                              </div>
                              <div class="col-sm-5">
                                <label class="col-sm-4 col-sm-4 control-label">End Date</label>                              
                                    <select class="form-control" style="width: 30%;  margin: 0 2px 0px 2px;float: left;">
                                        <option value="-1">Month</option>
                                        <option title="January" value="0">Jan</option>
                                        <option title="February" value="1">Feb</option>
                                        <option title="March" value="2">Mar</option>
                                        <option title="April" value="3">Apr</option>
                                        <option title="May" value="4">May</option>
                                        <option title="June" value="5">Jun</option>
                                        <option title="July" value="6">Jul</option>
                                        <option selected="selected" title="August" value="7">Aug</option>
                                        <option title="September" value="8">Sep</option>
                                        <option title="October" value="9">Oct</option>
                                        <option title="November" value="10">Nov</option>
                                        <option title="December" value="11">Dec</option>
                                    </select> 
                                    <select class="form-control" style="width: 30%;  margin: 0 2px 0px 2px;float: left;">
                                        <option value="-1">Year</option><option>2017</option>
                                        <option>2016</option><option>2015</option>
                                        <option>2014</option><option>2013</option>
                                        <option>2012</option><option>2011</option>
                                        <option>2010</option><option>2009</option>
                                        <option selected="selected">2008</option>
                                        <option>2007</option><option>2006</option>
                                        <option>2005</option><option>2004</option>
                                        <option>2003</option><option>2002</option>
                                        <option>2001</option><option>2000</option>
                                        <option>1999</option><option>1998</option>
                                        <option>1997</option><option>1996</option>
                                        <option>1995</option><option>1994</option>
                                        <option>1993</option><option>1992</option>
                                        <option>1991</option><option>1990</option>
                                        <option>1989</option><option>1988</option>
                                        <option>1987</option><option>1986</option>
                                        <option>1985</option><option>1984</option>
                                        <option>1983</option><option>1982</option>
                                        <option>1981</option><option>1980</option>
                                        <option>1979</option><option>1978</option>
                                        <option>1977</option><option>1976</option>
                                        <option>1975</option><option>1974</option>
                                        <option>1973</option><option>1972</option>
                                        <option>1971</option><option>1970</option>
                                        <option>1969</option><option>1968</option>
                                        <option>1967</option><option>1966</option>
                                        <option>1965</option><option>1964</option>
                                        <option>1963</option><option>1962</option>
                                        <option>1961</option><option>1960</option>
                                        <option>1959</option><option>1958</option>
                                        <option>1957</option>
                                    </select>   
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-5">
                              <label class="col-sm-4 col-sm-4 control-label">Currency</label>                              
                                  <input type="text" class="form-control">
                              </div>
                              <div class="col-sm-5">
                              <label class="col-sm-4 col-sm-4 control-label">Last Base Salary</label>                              
                                  <input type="text" class="form-control">
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-5">
                              <label class="col-sm-4 col-sm-4 control-label">Main Duties/Accomplishments</label>                              
                                  <textarea type="text" class="form-control"></textarea>
                              </div>
                              <div class="col-sm-5">
                              <label class="col-sm-4 col-sm-4 control-label">Reason for leaving</label>                              
                                  <textarea type="text" class="form-control"></textarea>
                              </div>
                          </div>
                          
                           <div class="form-group">
                              <div class="col-sm-5">
                              <label class="col-sm-4 col-sm-4 control-label">Comments if any</label>                              
                                  <textarea type="text" class="form-control"></textarea>
                              </div>                              
                          </div>
                          </div> <!--end education_section -->
                          <button type="button" class="btn btn-primary">Add Experience</button>
                      </form>
                  </div>
          		</div><!-- col-lg-12-->      	
          	</div><!-- /row -->        	
		</section><!--/wrapper -->
  