
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">              
              	  <p class="centered"><a href="profile.html"><img src="assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">{{username}}</h5>
                   <li class="sub-menu">
                      <a class="active" href="javascript:;" >
                          <i class="fa fa-th"></i>
                          <span>Task</span>
                      </a>
                      <ul class="sub">
                          <li>
                              <a class="active" routerLink='./tasklist' routerLinkActive="active">Task List</a>
                            </li>                          
                      </ul>
                  </li>                 
               </ul>
              <!-- sidebar menu end-->
          </div>
