 <section class="wrapper">
          	<div class="sub-head">
                  <span><i class="fa fa-angle-right"></i> Education</span>
                  <button type="button" class="btn btn-theme02"><i class="fa fa-check"></i> Quit</button>                  
                  <button type="button" class="btn btn-theme02"><i class="fa fa-check"></i> Save as Draft</button>
          	      <button type="button" class="btn btn-theme02"><i class="fa fa-check"></i> Save and Continue</button>
                  
            </div>
          	
          	<!-- BASIC FORM ELELEMNTS -->
          	<div class="row mt">
          		<div class="col-lg-12">
                  <div class="form-panel">                      
                      <form id="education_form" class="form-horizontal style-form" method="get">
                          <div class="education_section">
                          <h5 class="mb" style="font-weight:bold;">Education 1</h5>
                          <div class="form-group">
                              <div class="col-sm-5">
                              <label class="col-sm-4 col-sm-4 control-label">Education Institution</label>                              
                                  <input type="text" class="form-control">
                              </div>
                              <div class="col-sm-5">
                              <label class="col-sm-4 col-sm-4 control-label">Field of Study</label>                              
                                  <input type="text" class="form-control">
                              </div>
                          </div>
                          
                          <div class="form-group">
                              <div class="col-sm-5">
                              <label class="col-sm-4 col-sm-4 control-label">Education Level</label>                              
                                 <select class="form-control">
                                    <option value="">Not Specified</option><option value="1">None</option>
                                    <option value="2">High School Diploma/GED (±11 years)</option>
                                    <option value="3">Technical Diploma (±12 years)</option>
                                    <option value="4">Associate's Degree/College Diploma (±13 years)</option>
                                    <option value="5">Non-Degree Program (±14 years)</option>
                                    <option value="6" selected=" selected">Bachelor's Degree (±16 years)</option>
                                    <option value="7">Master's Degree (±18 years)</option>
                                    <option value="8">Doctorate Degree (over 19 years)</option>
                                  </select>
                              </div>
                              <div class="col-sm-5">
                              <label class="col-sm-4 col-sm-4 control-label">Degree Type</label>                              
                                  <select class="form-control">
                                    <option value="">Not Specified</option>
                                    <option value="1">B.B.A. - Bachelor of Business Administration </option>
                                    <option value="32">B.Com - Bachelor of Commerce</option>
                                    <option value="2">B.CompSc. - Bachelor of Computer Science </option>
                                    <option value="3">B.Ec. - Bachelor of Economics </option>
                                    <option value="4">B.Ed. - Bachelor of Education </option>
                                    <option value="5">B.Eng. - Bachelor of Engineering </option>
                                    <option value="6">B.Math. - Bachelor of Mathematics</option>
                                    <option value="7">B.S.E. - Bachelor of Science in Engineering </option>
                                    <option value="8">B.S.E.E. - Bachelor of Science in Electrical Engineering </option>
                                    <option value="34" selected=" selected">B.Tech. - Bachelor of Technology</option>
                                    <option value="9">Bachelor of Arts</option>
                                    <option value="10">Bachelor of Science</option>
                                    <option value="11">Diploma</option><option value="12">Juris Doctorate</option>
                                    <option value="13">L.L.M - Master of Laws</option>
                                    <option value="14">Master of Arts</option>
                                    <option value="15">Master of Business Administration </option>
                                    <option value="16">Master of Fine Arts</option>
                                    <option value="17">Master of Social Work</option>
                                    <option value="18">MBA/JD Joint Degree</option>
                                    <option value="31">MCA - Master in Computer Application</option>
                                    <option value="19">MChem - Master of Chemistry</option>
                                    <option value="20">MEcon - Master of Economics</option>
                                    <option value="21">MEd - Master of Education</option>
                                    <option value="22">Medical Degree</option>
                                    <option value="23">MEng - Master of Engineering </option>
                                    <option value="24">MMath - Master of Mathematics</option>
                                    <option value="33">MMS - Master of Management Studies</option>
                                    <option value="25">MPhys - Master of Physics</option>
                                    <option value="26">MRes - Master of Research</option>
                                    <option value="27">MSci - Master in Science</option>
                                    <option value="28">MStat - Master of Statistics</option>
                                    <option value="35">M.Tech. - Master of Technology</option>
                                    <option value="30">PhD</option><option value="29">None of the above/Other (Please specify in your profile)</option>
                                  </select>
                              </div>
                          </div>

                          <div class="form-group">
                              <div class="col-sm-5">
                                    <label class="col-sm-4 col-sm-4 control-label">Start Date</label>                              
                                    <select class="form-control" style="width: 30%;  margin: 0 2px 0px 2px;float: left;">
                                        <option value="-1">Month</option>
                                        <option title="January" value="0">Jan</option>
                                        <option title="February" value="1">Feb</option>
                                        <option title="March" value="2">Mar</option>
                                        <option title="April" value="3">Apr</option>
                                        <option title="May" value="4">May</option>
                                        <option title="June" value="5">Jun</option>
                                        <option title="July" value="6">Jul</option>
                                        <option selected="selected" title="August" value="7">Aug</option>
                                        <option title="September" value="8">Sep</option>
                                        <option title="October" value="9">Oct</option>
                                        <option title="November" value="10">Nov</option>
                                        <option title="December" value="11">Dec</option>
                                    </select>  
                                    <select class="form-control" style="width: 30%;  margin: 0 2px 0px 2px;float: left;">
                                        <option value="-1">Year</option><option>2017</option>
                                        <option>2016</option><option>2015</option>
                                        <option>2014</option><option>2013</option>
                                        <option>2012</option><option>2011</option>
                                        <option>2010</option><option>2009</option>
                                        <option selected="selected">2008</option>
                                        <option>2007</option><option>2006</option>
                                        <option>2005</option><option>2004</option>
                                        <option>2003</option><option>2002</option>
                                        <option>2001</option><option>2000</option>
                                        <option>1999</option><option>1998</option>
                                        <option>1997</option><option>1996</option>
                                        <option>1995</option><option>1994</option>
                                        <option>1993</option><option>1992</option>
                                        <option>1991</option><option>1990</option>
                                        <option>1989</option><option>1988</option>
                                        <option>1987</option><option>1986</option>
                                        <option>1985</option><option>1984</option>
                                        <option>1983</option><option>1982</option>
                                        <option>1981</option><option>1980</option>
                                        <option>1979</option><option>1978</option>
                                        <option>1977</option><option>1976</option>
                                        <option>1975</option><option>1974</option>
                                        <option>1973</option><option>1972</option>
                                        <option>1971</option><option>1970</option>
                                        <option>1969</option><option>1968</option>
                                        <option>1967</option><option>1966</option>
                                        <option>1965</option><option>1964</option>
                                        <option>1963</option><option>1962</option>
                                        <option>1961</option><option>1960</option>
                                        <option>1959</option><option>1958</option>
                                        <option>1957</option>
                                    </select>  
                              </div>
                              <div class="col-sm-5">
                                <label class="col-sm-4 col-sm-4 control-label">Graduation Date</label>                              
                                    <select class="form-control" style="width: 30%;  margin: 0 2px 0px 2px;float: left;">
                                        <option value="-1">Month</option>
                                        <option title="January" value="0">Jan</option>
                                        <option title="February" value="1">Feb</option>
                                        <option title="March" value="2">Mar</option>
                                        <option title="April" value="3">Apr</option>
                                        <option title="May" value="4">May</option>
                                        <option title="June" value="5">Jun</option>
                                        <option title="July" value="6">Jul</option>
                                        <option selected="selected" title="August" value="7">Aug</option>
                                        <option title="September" value="8">Sep</option>
                                        <option title="October" value="9">Oct</option>
                                        <option title="November" value="10">Nov</option>
                                        <option title="December" value="11">Dec</option>
                                    </select> 
                                    <select class="form-control" style="width: 30%;  margin: 0 2px 0px 2px;float: left;">
                                        <option value="-1">Year</option><option>2017</option>
                                        <option>2016</option><option>2015</option>
                                        <option>2014</option><option>2013</option>
                                        <option>2012</option><option>2011</option>
                                        <option>2010</option><option>2009</option>
                                        <option selected="selected">2008</option>
                                        <option>2007</option><option>2006</option>
                                        <option>2005</option><option>2004</option>
                                        <option>2003</option><option>2002</option>
                                        <option>2001</option><option>2000</option>
                                        <option>1999</option><option>1998</option>
                                        <option>1997</option><option>1996</option>
                                        <option>1995</option><option>1994</option>
                                        <option>1993</option><option>1992</option>
                                        <option>1991</option><option>1990</option>
                                        <option>1989</option><option>1988</option>
                                        <option>1987</option><option>1986</option>
                                        <option>1985</option><option>1984</option>
                                        <option>1983</option><option>1982</option>
                                        <option>1981</option><option>1980</option>
                                        <option>1979</option><option>1978</option>
                                        <option>1977</option><option>1976</option>
                                        <option>1975</option><option>1974</option>
                                        <option>1973</option><option>1972</option>
                                        <option>1971</option><option>1970</option>
                                        <option>1969</option><option>1968</option>
                                        <option>1967</option><option>1966</option>
                                        <option>1965</option><option>1964</option>
                                        <option>1963</option><option>1962</option>
                                        <option>1961</option><option>1960</option>
                                        <option>1959</option><option>1958</option>
                                        <option>1957</option>
                                    </select>   
                              </div>
                          </div>

                          
                           <div class="form-group">
                              <div class="col-sm-5">
                              <label class="col-sm-4 col-sm-4 control-label">Comments if any</label>                              
                                  <textarea type="text" class="form-control"></textarea>
                              </div>                              
                          </div>
                          </div> <!--end education_section -->
                          <button type="button" class="btn btn-primary">Add Education</button>
                      </form>
                  </div>
          		</div><!-- col-lg-12-->      	
          	</div><!-- /row -->        	
		</section><! --/wrapper -->
